.right
{
    height: 100vh;
}
.left{
    height: 50vh;
}
.row{
    --bs-gutter-x: 0rem !important; 
   --bs-gutter-y: 0;
}
p{
    color: #fff;
}
input{
    border-color:var(--main-color)!important;
}
a:hover{
    background-color: #d8d8d8 !important;
}
