<div class="row">
    <div class="right bg-main w-50">
        <div class="container w-75">
            <img src="./assets/images/freshcart-logo-light.svg" class="w-50 my-5" alt="logo">
            <p>t is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution
                of letters.<br><br> as opposed to using 'Content here, content here', making it look like readable
                English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default
                model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
            <a routerLink="/login" class="btn bg-white mt-5">Have an Account..!</a>
        </div>
    </div>
    <div class="left d-flex w-50">
        <div class="container d-flex flex-column justify-content-center w-75">
            <h3 class="bold">Register Now</h3>
            <form class="my-3" [formGroup]="registerForm" (ngSubmit)="register()">
                <div>
                    <label for="name">User Name:</label>
                    <input type="text" id="name" formControlName="name" class="form-control my-2" [ngClass]="{
                        'is-invalid': registerForm.get('name')?.errors && (registerForm.get('name')?.touched || registerForm.get('name')?.dirty),
                        'is-valid' : registerForm.get('name')?.valid
                    }">
                    @if(registerForm.get('name')?.errors && registerForm.get('name')?.touched ||
                    registerForm.get('name')?.dirty){
                    <div class="text-danger">
                        @if(registerForm.get('name')?.getError('required')){
                        <small class="m-0 ">Name Is Required</small>
                        }
                        @else if(registerForm.get('name')?.getError('minlength')){
                        <small class="m-0 ">Name minLength is 3</small>
                        }

                    </div>
                    }
                </div>




                <label for="email">Email:</label>
                <input type="email" id="email" class="form-control my-2" formControlName="email" [ngClass]="{
                    'is-invalid': registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || registerForm.get('email')?.dirty),
                    'is-valid': registerForm.get('email')?.valid}">
                @if(registerForm.get('email')?.errors && registerForm.get('email')?.touched ||
                registerForm.get('email')?.dirty){
                <div class="text-danger">
                    @if(registerForm.get('email')?.getError('required')){
                    <small class="m-0 ">email is Required</small>
                    } @else if (registerForm.get('email')?.getError('pattern')) {
                    <small class="m-0 ">Enter Valid Email</small>
                    }
                </div>

                }
                <label for="phone">Phone:</label>
                <input formControlName="phone" type="tel" id="phone" class="form-control" [ngClass]="{
                    'is-invalid': registerForm.get('phone')?.invalid && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty),
                    'is-valid': registerForm.get('phone')?.valid && (registerForm.get('phone')?.touched || registerForm.get('phone')?.dirty)
                  }" />

                @if(registerForm.get('phone')?.errors && (registerForm.get('phone')?.touched ||
                registerForm.get('phone')?.dirty)){
                <div class="text-danger">
                    @if(registerForm.get('phone')?.getError('required')){
                    <small class="m-0 ">phone is Require</small>
                    }
                    @else if (registerForm.get('phone')?.getError('pattern')) {
                    <small class="m-0">phone must be an Egyptian Number</small>
                    }
                </div>
                }


                <label for="password">Password:</label>
                <input formControlName="password" type="password" id="password" class="form-control mt-2" [ngClass]="{
                    'is-invalid': registerForm.get('password')?.errors && (registerForm.get('password')?.touched || registerForm.get('password')?.dirty),
                    'is-valid' : registerForm.get('password')?.valid
                }">
                @if(registerForm.get('password')?.errors && (registerForm.get('password')?.touched ||
                registerForm.get('password')?.dirty)){
                <div class="text-danger">
                    @if(registerForm.get('password')?.getError('required')){
                    <small class="m-0 ">password is Require</small>
                    }
                    @else if (registerForm.get('password')?.getError('pattern')) {
                    <small class="m-0">Password must be 6 letter inculdes numbers & chars</small>
                    }
                </div>
                }

                <label for="rePassword">Re Password:</label>
                <input formControlName="rePassword" type="password" id="rePassword" class="form-control mt-2"
                    [ngClass]="{
                    'is-invalid': (registerForm.hasError('mismatch') &&  registerForm.get('rePassword')?.dirty) || registerForm.get('rePassword')?.value ==='',
                    'is-valid': registerForm.get('rePassword')?.value === registerForm.get('password')?.value && registerForm.get('rePassword')?.touched}">
                @if(registerForm.hasError('mismatch') && (registerForm.get('rePassword')?.touched ||
                registerForm.get('rePassword')?.dirty)){
                <small class="m-0 text-danger">The Password isn't match</small>
                }
            </form>
            <div class="checkbox d-flex mb-3">
                <input type="checkbox" #aggrement (change)="check()">
                <small class="my-0 ms-2">I agreed to the <a href="#">Terms and Conditions</a></small>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" [disabled]="!isAgree" (click)="register()"
                        class="btn text-white btn-main">Register
                        @if(isLoading){
                        <span><i class="fa fa-spin fa-spinner"></i></span>
                        }
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>