.cart-count{
    position: absolute;
    background: red;
    color: #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    font-size: 14px;
    top: -5px;
    left: -10px;
}
    